#.ipynb_checkpoints/
## 不追踪.ipynb_checkpoints这个文件夹下的所有内容
#**/__pycache__/
## 不追踪当前git项目中所有_pycache_文件夹中的内容，无论是几级目录中的
#a/**/b
## 不追踪a文件夹下所有目录中b文件夹中的东西，如果b是个具体的文件，就不追踪这个文件
#
## C extensions 不追踪所有以.so后缀结尾的文件
#*.so
#
## 不追踪该文件夹
#/deploy/android_demo/app/cache/


__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/*
!.vscode/extensions.json
node_modules
.DS_Store
.ipynb_checkpoints/